containers/vc-nodered/flows.json
[{"id":"e6d803c9.df685","type":"tab","label":"Flow 1"},{"id":"680773e2.e3cdcc","type":"inject","z":"e6d803c9.df685","name":"Daily batch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"x":325,"y":339,"wires":[["2ab9e198.fa59ee","93caee9e.b0e3b"]]},{"id":"2ab9e198.fa59ee","type":"exec","z":"e6d803c9.df685","command":"/bin/rm","addpay":true,"append":"-rf /data/Motion/pictures/*","useSpawn":"","timer":"","name":"Clean pictures directory","x":625.5,"y":368.5,"wires":[[],[],[]]},{"id":"44b889cf.c9a858","type":"http request","z":"e6d803c9.df685","name":"Restart Motion server","method":"GET","ret":"txt","url":"http://localhost:8080/0/action/restart","tls":"","x":615.5,"y":277,"wires":[["e36974ba.09c508"]]},{"id":"93caee9e.b0e3b","type":"exec","z":"e6d803c9.df685","command":"/bin/rm","addpay":true,"append":"-f `find /data/Motion/movies/* -ctime +7`","useSpawn":"","timer":"","name":"Clean movies directory","x":619.5,"y":452.5,"wires":[[],[],[]]},{"id":"e36974ba.09c508","type":"debug","z":"e6d803c9.df685","name":"","active":true,"console":"false","complete":"false","x":898,"y":277,"wires":[]}]